{% extends 'base.html.twig' %}

{% block body %}

<!-- Container Central - Products on click -->
<div class="imageBabyRoom col-11 offset-1">

    <!-- image Background Baby room - Chambre -->
    <img class="img-fluid imageBabyRoomEmpty" src="{{asset('build/images/baby-room.png')}}" alt="chambre de bébé">

    <!-- image Background Baby room mobile - Chambre avec déco -->
    <img class="img-fluid imageBabyRoomFull" src="{{asset('build/images/baby-room-mobile.png')}}" alt="chambre de bébé avec jouets">

    <!-- Button slippers brown - Chaussons -->
    <div aria-label="Accès à la catégorie Chaussons">
        <a class="linkSlippersBrownDrawing btn" href="#" role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Accès à la catégorie Chaussons">
            <img class="" src="{{asset('build/images/slippers-brown.png')}}" alt="Bouton Chaussons de bébé">
        </a>
    </div>

    <!-- Button rabbit comforter - Doudou lapin -->
    <div aria-label="Accès à la catégorie Doudous">
        <a class="linkRabbitComforterDrawing btn" href="#" role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Accès à la catégorie Doudous">
            <img class="img-fluid" src="{{asset('build/images/rabbit-comforter.png')}}" alt="Bouton Doudou lapin">
        </a>
    </div>

    <!-- Button floor mat - Tapis de sol -->
    <div aria-label="Accès à la catégorie Tapis de sol">
        <a class="linkFloorMatDrawing btn" href="#" role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Accès à la catégorie Tapis de sol">
            <img class="img-fluid" src="{{asset('build/images/floor-mat-granny.png')}}" alt="Bouton Tapis de sol">
        </a>
    </div>

    <!-- Button rabbit rattle - Hochet lapin -->
    <div aria-label="Accès à la catégorie Hochets">
        <a class="linkRabbitRattleDrawing btn" href="#" role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Accès à la catégorie Hochets">
            <img class="img-fluid" src="{{asset('build/images/rabbit-rattle.png')}}" alt="Bouton hochet lapin">
        </a>
    </div>

    <!-- Button drawing board - Tableau de dessin -->
    <div class="DrawingBoardDrawing">
        <a class="linkDrawingBoardDrawing btn" href="#" role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Accès à la catégorie Nouveautés">
            <img class="img-fluid" src="{{asset('build/images/drawing-board.png')}}" alt="Tableau de dessin">
        </a>
    </div>

    <!-- Text Novelties - Nouveautés -->
    <a class="NoveltiesText" href="#">Nouveautés</a>

    <!-- Button soft toy - Amigurumi -->
    <div aria-label="Accès à la catégorie Peluches Amigouroumi">
        <a class="linkSoftToyDrawing btn" href="#" role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Accès à la catégorie Peluches - Amigurumi">
            <img class="img-fluid" src="{{asset('build/images/soft-toy.png')}}" alt="Bouton Peluche Amigouroumi">
        </a>
    </div>

    <!-- Image dog - Bingo -->
    <div class="dogDrawing">
        <img class="img-fluid" src="{{asset('build/images/bingo.png')}}" alt="Chien">
    </div>

    <!-- Button cradle - Berceau -->
    <div aria-label="Accès à la catégorie Couvertures">
        <a class="linkCradleDrawing btn" href="#" role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Accès à la catégorie Couvertures">
            <img class="img-fluid" src="{{asset('build/images/cradle.png')}}" alt="Bouton Berceau">
        </a>
    </div>

    <!-- Image cat - Chat -->
    {# <div class="catgDrawing">
        <img class="img-fluid" src="{{asset('build/images/cat.png')}}" alt="Chat">
    </div> #}

    <!-- Button baby mobile - Mobile -->
    {# <div aria-label="Accès à la catégorie Peluches Amigouroumi">
        <a class="linkMobileDrawing btn" href="#" role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Accès à la catégorie Peluches - Amigurumi">
            <img class="img-fluid" src="{{asset('build/images/baby-mobile.png')}}" alt="Bouton Peluche Amigouroumi">
        </a>
    </div> #}

    <!-- Button ball - Balle -->
    {# <div aria-label="Accès à la catégorie Jouets">
        <a class="linkBallDrawing btn" href="#" role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Accès à la catégorie Jouets">
            <img class="img-fluid" src="{{asset('build/images/ball.png')}}" alt="Bouton Jouets">
        </a>
    </div> #}

    <!-- Button toy cubes - Cubes -->
    {# <div aria-label="Accès à la catégorie Jouets">
        <a class="linkToyCubesDrawing btn" href="#" role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Accès à la catégorie Jouets">
            <img class="img-fluid" src="{{asset('build/images/toy-cubes.png')}}" alt="Bouton Jouets">
        </a>
    </div> #}

    <!-- Button rattle - Hochet -->
    {# <div aria-label="Accès à la catégorie Hochets">
        <a class="linkRattleDrawing btn" href="#" role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Accès à la catégorie Hochets">
            <img class="img-fluid" src="{{asset('build/images/rattle.png')}}" alt="Bouton Hochets">
        </a>
    </div> #}

</div> <!-- Container Central - Products on click -->

{% endblock %}
