<!-- Container Header -->
<Footer>
	<!-- Container Top - Navbar -->
	<div class="row border-top border-dark">

		<!-- Container Navbar product -->
		<div class="row">

			<!-- Classic inline Navbar -->
			<nav class="footerNavbar text-center" role="navigation" aria-label="Menu accès aux produits du catalogue" role="navigation" aria-label="Menu du catalogue">
				<ul class="list-inline text-capitalize">
					<li class="list-inline-item"><a class="linkPresentationF text-dark" href="{{ path('home_catalogue') }}">présentation</a></li>
					<li class="list-inline-item"><a class="linkSoftToysF text-dark" href="#">peluches (Amigurumi)</a></li>
					<li class="list-inline-item"><a class="linkComfortersF text-dark" href="#">doudous</a></li>
					<li class="list-inline-item"><a class="linkRattlesF text-dark" href="#">hochets</a></li>
					<li class="list-inline-item"><a class="linkToysF text-dark" href="#">jouets</a></li>
					<li class="list-inline-item"><a class="linkFloorMatsF text-dark" href="#">tapis de sol</a></li>
					<li class="list-inline-item"><a class="linkBlanketsF text-dark" href="#">couvertures</a></li>
					<li class="list-inline-item"><a class="linkGrannysF text-dark" href="#">grannys</a></li>
					<li class="list-inline-item"><a class="linkSlippersF text-dark" href="#">chaussons</a></li>
					<li class="list-inline-item"><a class="linkAccessoriesF text-dark" href="#">accessoires</a></li>
					<li class="list-inline-item"><a class="linkNoveltiesF text-dark" href="#">nouveautés</a></li>
				</ul>
			</nav>
			
		</div> <!-- Container Navbar product -->

		<!-- Container Navbar general-->
		<div class="row text-center">

			<!-- Classic inline Navbar -->
			<nav class="footerNavbar" role="navigation" aria-label="Menu principal" role="navigation" aria-label="Menu principal">
				<ul class="list-inline text-capitalize">
					<li class="list-inline-item"><a class="linkHomeF text-dark" href="{{ path('homepage') }}" aria-current="page">accueil</a></li>
					<li class="list-inline-item"><a class="linkCatalogueF text-dark" href="{{ path('home_catalogue') }}">catalogue</a></li>
					<li class="list-inline-item"><a class="linkAboutF text-dark" href="#" aria-label="About me">à propos de moi</a></li>
					<li class="list-inline-item"><a class="linkCleaningF text-dark" href="#">entretien nettoyage</a></li>
					<li class="list-inline-item"><a class="linkPolicyF text-dark" href="#">politique de confidentialité</a></li>
					<li class="list-inline-item"><a class="linkMapF text-dark" href="#">plan du site</a></li>
				</ul>
			</nav>
		</div> <!-- Container Navbar general-->
	</div> <!-- Container Top -->

		<!-- Container Middle - Send message / Contact -->
		<div class="row align-items-center justify-content-evenly text-center">
			<a class="linkContactF col-2 text-capitalize text-dark fw-bold" href="{{ path('app_message_form') }}">envoyer un message</a>
			<div class="infoContact">
				<p class="m-0"><span><i class="fa-regular fa-envelope"></i></span> contact@grany.fr</p>
				<p class="mb-0">59000 Lille - France</p>
			</div>
		</div>

	<!-- Container Bottom - Information production -->
	<div class="infoProduction d-flex justify-content-end align-items-center">
		<p class="col-2 offset-7 text-end">2023 Lille - </p>
		<img class="col-1 img-fluid" src="{{ asset('build/images/pom-grany.jpg')}}" alt="Logo pomme">
		<p class="col-2 text-start">Pom & Grany Production</p>
	</div>

</Footer>
