{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ encore_entry_link_tags('headerCss') }}
	{{ encore_entry_link_tags('footerCss') }}
	{{ encore_entry_link_tags('menuCss') }}
	{{ encore_entry_link_tags('backTotopCss') }}
	{{ encore_entry_link_tags('messageFormCss') }}
{% endblock %}

{% block body %}
<!-- Container Central - Message form -->
<div class="messageFormPage container-fluid col-11 offset-1">

    <!-- Title -->
    <h1 class="text-center">Envoyer un message</h1>

    <div class="blockIntro">
        <p>Envoyez moi un message pour exposer votre projet. Je vous confimerai sa faisabilité.</p>
        <p>Vous pouvez aussi me contacter pour une demande de renseignement ou pour une suggestion.</p>
        <p>Je vous répondrai par mail dès que possible.</p>

        {# Message d'erreur de mail #}
        <div class="form col-8 fw-bold text-danger">
        {% for avertissement in app.flashes('avertissement') %}
            {{ avertissement }}
        {% endfor %}
        </div>
    </div>

    {# Contact connu #}

    <div class="offset-2 form mt-5">
        <p>Veuillez choisir une des situations suivantes :</p>

        <div class="firstContact mb-5 ms-5"><input type="checkbox" class="ps-5"/> Je vous envoie un message pour la première fois</div>

        <div class="knowContact mb-5 ms-5"><input type="checkbox" class="ps-5"/> Vous me connaissez. J'ai déjà envoyé un message</div>
    </div>

    {# Recherche contact par l'adresse mail #}
    <div class="searchContact hideKnowContact col-4 offset-2 form mt-5">
        <p class="mt-5">Veuillez saisir votre adresse mail :</p>
        {{ form_start (emailQueryForm, {'attr': {'novalidate': 'novalidate'}}) }}
            {{ form_row(emailQueryForm.emailQuery) }}

            {# Bouton de recherche #}
            <div class="text-center my-5">
                <button class="btn btn-primary">Rechercher</button>
            </div>
        {{ form_end (emailQueryForm)}}
    </div>

    {# Formulaire de création d'un contact #}
    <div class="formContact hideFirstContact row form">
        <div class="col-5 offset-2">
            {# On désactive la validation par défaut du navigateur #}
            {{ form_start (contactForm, {'attr': {'novalidate': 'novalidate'}}) }}

                {# Affichage des champs du formulaire #}
                <p>Veuillez remplir le formulaire de contact ci-dessous</p>
                <p class="mt-3">Tous les champs du formulaire doivent être obligatoirement remplis</p>

                <div>
                    {{ form_row(contactForm.gender) }}
                </div>
                
                <div>
                    {{ form_row(contactForm.lastName) }}
                </div>

                <div>
                    {{ form_row(contactForm.firstName) }}
                </div>

                <div>
                    {{ form_row(contactForm.mail) }}
                </div>

                {# TODO Mettre le lien #}
                <a href="#" target = "_blank" class="mt-5">Lire la politique de confidentialité</a>
                <div>
                    {{ form_row(contactForm.rgpd_validation) }}
                </div>

                {# Affichage du Recaptcha #}
                <div class="mt-3" id="html_element"></div>

                {# Bouton de validation #}
                <div class="text-center my-5">
                    <button class="btn btn-primary">Valider</button>
                </div>

            {{ form_end (contactForm)}}
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
	{# Appel aux fichiers js #}
	{{ encore_entry_script_tags('choiceTypeContact') }}

    {# Script du Recaptcha #}
    {# Appel de l'api.js de Google #}
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
        async defer>
    </script>

    <script>
        var onloadCallback = function() {
            grecaptcha.render('html_element', {
                'sitekey' : '{{ recaptcha_site_key }}'
            });
        };
    </script>
{% endblock %}